.Goal { 
  display: flex;
  min-height: 100vh;
  height: auto;
  min-width: 100vw;
  background:url(../assest/dash-back.jpg);
  background-size: cover;
  margin: 0;
  padding-bottom: 5%;
    
  }
  
  .Goal-contents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    left: 15%;
    padding-left: 10px;
  }
  
  .progressContianer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  select,
  input[type='number'],
  input[type='date'],
  textarea {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .goal-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
  }
 .goal-btn button[type='submit'] {
    margin-top: 10px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width:40%
  }
  
  .goal-btn button[type='submit']:hover {
    background-color: white;
    color: #4CAF50;
    border: 1px solid #4CAF50;
  }
  .goal-display{
    position:absolute;
    top: 20px;
    right:60px;
  }
  @media only screen  and (max-width:480px) {
    .Goal {
        display: flex;
        flex-direction: column;
        
      }
    .goal-display{
        position:relative;
        margin: auto;
      }
  }
  