.Investment{
    display: flex;
    min-height: 100vh;
    height: auto;
    min-width: 100vw;
    background:url(../assest/dash-back.jpg);
    background-size: cover;
    margin: 0;
    padding-bottom: 5%;
}

.Investment-contents{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80%;
    position: relative;
    left: 15%;
}

.total{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% ;
    background-color: rgb(255, 255, 255,0.5);
    margin: 20px;
    height: 50px;
    border-radius: 15px;
    font-weight: bolder;
    font-size: larger;
}

.form-container{
    width: 30%;
    height: 700px;
    background: transparent;
    backdrop-filter: blur(9px);
    border: 2px solid white;
    margin-left: 20px;
    margin-top: 20px;
}

.Table-container{
    display: flex;
    justify-content: center;
    width: 60%;
    background: rgba(255, 255, 255,0.5);
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.Table-container th{
    padding: 10px;
}

.Table-container td{
    padding: 10px;
    text-align: center;
}

@media only screen  and (max-width:480px) {
    .Investment{
        flex-direction:column;
        max-width: 100vw;
    }
    .Investment-contents{
        position: static;
        max-width: 100%;width: 100%;
    }
    .total{
        width: 80%;
    }

    .form-container{
        width: 80%;
        height: 70%;
    }
    
    .Table-container{
        width: 80%;
    }

    .yield{
        display: none;
    }
}
