.setting-body{
    min-height: 100vh;
    height: auto;
    min-width: 100vw;
    background:url(../assest/dash-back.jpg);
    background-size: cover;
    margin: 0;
    padding-bottom: 5%;
}

.settings{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    position: relative;
    left: 15%;

}
.settingsLogOutBth{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color:lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
   
}
.settingsWrapper{
    flex: 9;
    padding: 20px;
    background-color: rgba(255, 255, 255,0.4);
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 0px;
    border-radius: 20px;
}
.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.settingsUpdateTitle{
    font-size: 30px;
    color: rgb(20, 152, 5) ;
    margin-bottom: 20px;

}
.settingForm{
    display: flex;
    flex-direction: column;
}
.settingsPP{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.settingsPP > img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.avatar-choices{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}
.accordion-collapse{
    background-color: white;
    border-radius: 20px;
    width: 100%;
}
.avatar-image-container img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.accordion-button{
    padding: 10px;
    border-radius: 10px;
}
.settingsPPIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(20, 152, 5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.settingsPP input{
    display: none;
}
.settingForm > lable{
    font-size: 20px;
    margin-top: 20px;
}
.settingForm  input{
    color:gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;

}
.settingsSubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: rgb(20, 152, 5);
    margin-top: 20px;
    cursor: pointer;

}
.link{
    text-decoration: none;
    color: inherit;
  }
  @media only screen  and (max-width:480px){
    .settingsLogOutBth{
        position: absolute;
        top:15%;
    }
    .setting-body{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    
  }
